{% extends '../store/base.html' %}
{% load static %}
{% block content %}


<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <div class="breadcrumb__links">
                        <h4>Ваш профіль</h4>
                        <a href="{% url 'store:home_page' %}">Головна</a>
                        <a href="{% url 'store:products_list' %}">Продукти</a>
                        <span>Ваш профіль</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shopping Cart Section Begin -->
{% if request.user.is_authenticated %}
<section class="spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="account__menu">
                    <ul class="filter__controls">

                        <li {% if request.path == '/account/' %}class='active' {% endif %}>
                            <a href="{% url 'accounts:account' %}">Профіль</a>
                        </li>
                        <li {% if request.path == '/account/personal_orders/' %}class='active' {% endif %}>
                            <a href="{% url 'accounts:personal_orders' %}">Замовлення</a>
                        </li>
                        <li {% if request.path == '/account/personal_information/'%}class='active' {% endif %}>
                            <a href="{% url 'accounts:personal_information' %}">Персональна інформація</a>
                        </li>
                    </ul>
                        {% block account_content %}
                        <ul>
                            <li><h3>{{customer.first_name|title}} {{customer.last_name|title}}</h3></li>
                            <li><h5>Мобільний телефон {{customer.phone}}</h5></li>
                            <li><h5>Email {{customer}}</h5></li>
                            <li><a href="{% url 'accounts:logout' %}"><img src="{% static 'img/icon/logout.png' %}" alt=""></a></li>
                        </ul>
                        {% endblock account_content %}
                </div>
            </div>
        </div>
    </div>
</section>
{% else %}
<section class="spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Список бажаних товарів доступний тільки авторизованим користувачам.</h3>
                <h6>Будь ласка, зайдіть в свій акаунт <a href="">авторизуватися</a></h6>
            </div>
        </div>
</section>
{% endif %}
<!-- Shopping Cart Section End -->
{% endblock content %}